footer {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  margin-bottom: 40px;

  background: white;

  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(10%);

    div {
      width: 80%;
    }

    input {
      width: 100%;
      height: 40px;
      margin: 20px auto;
      border: 1px solid $color-line;
    }

    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin: 20px auto;
      border-color: $color-line;
      resize: none;
    }

    button {
      margin: 20px 0;
      width: 160px;
      border: 2px solid black;
    }
  }

  .social {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    border-left: 1px solid $color-line;
    height: 100%;

    div {
      display: grid;
      width: 100%;
      align-items: center;
      border-top: 1px solid $color-line;

      h4 {
        text-align: left;
        margin: 0 15px;
        font-size: 0.8rem;
      }

      p {
        color: rgb(90, 90, 90);
        padding-left: 15px;
      }
    }
    .address {
      display: grid;
      grid-template-columns: 25% 75%;
      p {
        margin-top: 18px;
      }
    }
    .mail {
      display: grid;
      grid-template-columns: 30% 1fr;
      p {
        font-family: $font-1;
        text-decoration: underline $color-line;
        text-underline-position: under;
      }
    }
    .phone {
      display: grid;
      grid-template-columns: 30% 1fr;
      p {
        text-decoration: underline $color-line;
        text-underline-position: under;
      }
    }
    .soc-logo {
      display: grid;
      grid-template-columns: 30% 1fr;
      border-bottom: none;
      ul {
        display: flex;
        flex-direction: row;

        li {
          padding: 0 5px;
          img {
            border: 1px solid;
            border-color: $color-line;

            width: 35px;
            border-radius: 150px;
          }
        }
      }
    }
  }
}
