header {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  .title {
  }

  h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
  }

  p {
    color: white;
    font-family: "font-2";
  }

  button {
    background: transparent;
    border: transparent;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 60px;
    background: rgba(255, 255, 255, 0.137);
    font-size: 0.8rem;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        color: white;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: bold;

        &:first-child {
          background: white;
          color: black;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      & li:hover {
        height: 60px;
        color: black;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover li:not(:hover) {
        background: none;
        color: white;
      }
    }
  }

  .nav-left li {
    padding: 20px;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 100px;

    & li {
      padding: 0 10px;
    }

    & ul li:first-child {
      background: none;
      color: white;
    }

    & li:hover {
      transform: scale(1.5);
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
