header {
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  animation: headerAnim 1.5s forwards;

  @keyframes headerAnim {
    100% {
      transform: translateY(-40px);
      opacity: 1;
    }
  }

  h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 5px;
    margin: 40px auto;
  }

  p {
    color: white;
    font-family: "font-2";
    font-size: 1.5rem;
  }

  span {
    background: transparent;
    border: transparent;

    &:hover {
      cursor: pointer;
    }

    img {
      padding-top: 50px;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;
    background: rgba(255, 255, 255, 0.137);
    font-size: 0.8rem;

    @media screen and (max-width: 750px) {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-between;

      li {
        color: white;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-3;
        font-weight: bold;
        letter-spacing: 1px;

        &:first-child {
          background: white;
          color: black;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      & li:hover {
        height: 70px;
        color: black;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover li:not(:hover) {
        background: none;
        color: white;
      }
    }
  }

  .nav-left li {
    min-width: 150px;
    margin: 0 auto;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 100px;
    padding-right: 20px;

    & li {
      padding: 0 10px;
    }

    & ul li:first-child {
      background: none;
      color: white;
    }

    & li:hover {
      transform: scale(1.5);
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 750px) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 30px;
    }
    span {
      display: none;
    }
  }
}
