main {
  width: 90%;
  background: white;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    .date {
      width: 30%;
      font-size: 0.8rem;
    }
  }

  .card-1 {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid darkgray;
    padding-bottom: 40px;
  }

  .date {
    text-align: center;
    position: relative;
    width: 20%;
    padding: 80px 0;
    margin: 0 auto;
  }

  .date::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 170%;
    background: $color-line;
    top: 50%;
    left: -180%;
  }

  .date::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 170%;
    background: $color-line;
    top: 50%;
    right: -180%;
  }

  h2 {
    font-size: 3em;

    width: 50%;
    min-width: 412px;
    max-width: 500px;
    margin: 0 auto;
    letter-spacing: 2px;
    padding-bottom: 30px;
  }

  p {
    width: 35%;
    margin: 0 auto;
    line-height: 35px;
    padding-bottom: 60px;
  }

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
    object-fit: cover;
  }

  .part-2-cards {
    display: grid;
    grid-template-columns: 50% 50%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        padding: 60px 0 0 0;
      }

      p {
        width: 85%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 40px;
      }

      h3 {
        text-align: center;
        padding: 20px 0 40px 0;
      }
    }
    .card-2 {
      border-right: 1px solid $color-line;
    }
  }
  button {
    font-weight: bold;
    border-style: 4px solid;
  }

  .card-2 {
    border-bottom: 1px solid $color-line;
    border-right: none;
  }
}
