@font-face {
  font-family: "font-1";
  src: url(../../assets/font/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../../assets/font/Merriweather-LightItalic.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../../assets/font/MerriweatherSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;
$font-3: "font-3", sans-serif;

$color-line: rgba(214, 207, 207, 0.651);

html {
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/img/bg.jpg) fixed top/cover;
  font-family: $font-1;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1e252d;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.4s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}

li {
  list-style: none;
}

i {
  background: transparent;
  color: white;
}

p {
  font-family: $font-2;
}

button {
  height: 50px;
  width: 140px;
  background: white;
  border-style: 3px solid;
  margin: 0 auto;
  margin-bottom: 60px;
  cursor: pointer;
}

label,
h4,
h1,
h2,
h3 {
  font-family: $font-3;
  font-weight: bolder;
}
