@font-face {
  font-family: "font-1";
  src: url(../../assets/font/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../../assets/font/Merriweather-LightItalic.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../../assets/font/MerriweatherSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/img/bg.jpg) fixed top/cover;
  font-family: "font-1", sans-serif;
}

body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1e252d;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}

@keyframes animBefore {
  to {
    opacity: 0;
  }
}

li {
  list-style: none;
}

i {
  background: transparent;
  color: white;
}

p {
  font-family: "font-2", sans-serif;
}

button {
  height: 50px;
  width: 140px;
  background: white;
  border-style: 3px solid;
  margin: 0 auto;
  margin-bottom: 60px;
  cursor: pointer;
}

label,
h4,
h1,
h2,
h3 {
  font-family: "font-3", sans-serif;
  font-weight: bolder;
}

header {
  height: 100vh;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}

@-webkit-keyframes headerAnim {
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 1;
  }
}

@keyframes headerAnim {
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    opacity: 1;
  }
}

header h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 5px;
  margin: 40px auto;
}

header p {
  color: white;
  font-family: "font-2";
  font-size: 1.5rem;
}

header span {
  background: transparent;
  border: transparent;
}

header span:hover {
  cursor: pointer;
}

header span img {
  padding-top: 50px;
}

header span img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 70px;
  background: rgba(255, 255, 255, 0.137);
  font-size: 0.8rem;
}

@media screen and (max-width: 750px) {
  header nav {
    display: none;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  color: white;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "font-3", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

header nav ul li:first-child {
  background: white;
  color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li:hover {
  height: 70px;
  color: black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul:hover li:not(:hover) {
  background: none;
  color: white;
}

header .nav-left li {
  min-width: 150px;
  margin: 0 auto;
}

header .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  min-width: 100px;
  padding-right: 20px;
}

header .nav-right li {
  padding: 0 10px;
}

header .nav-right ul li:first-child {
  background: none;
  color: white;
}

header .nav-right li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  header span {
    display: none;
  }
}

main {
  width: 90%;
  background: #f0eded;
  margin: 0 auto;
}

main .card-1 {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(214, 207, 207, 0.651);
  padding-bottom: 40px;
}

main .date {
  text-align: center;
  position: relative;
  width: 20%;
  padding: 80px 0;
  margin: 0 auto;
}

main .date::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 170%;
  background: rgba(214, 207, 207, 0.651);
  top: 50%;
  left: -180%;
}

main .date::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 170%;
  background: rgba(214, 207, 207, 0.651);
  top: 50%;
  right: -180%;
}

main h2 {
  font-size: 3em;
  width: 50%;
  min-width: 412px;
  max-width: 500px;
  margin: 0 auto;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

main p {
  width: 35%;
  margin: 0 auto;
  line-height: 35px;
  padding-top: 30px;
  padding-bottom: 60px;
}

main .card-container {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

main img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

main .part-2-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

main .part-2-cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .part-2-cards div span {
  padding: 60px 0 0 0;
}

main .part-2-cards div p {
  width: 85%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 40px;
}

main .part-2-cards div h3 {
  text-align: center;
  padding: 40px 0 40px 0;
}

main .part-2-cards .card-2 {
  border-right: 1px solid rgba(214, 207, 207, 0.651);
}

main button {
  font-weight: bold;
  border: 3px solid;
  background: none;
  margin-top: 40px;
}

main .card-2 {
  border-bottom: 1px solid rgba(214, 207, 207, 0.651);
  border-right: none;
}

@media screen and (max-width: 750px) {
  main .date {
    font-size: 0.8rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main p {
    width: 80%;
  }
  main .part-2-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main h3 {
    font-size: 1.4rem;
    letter-spacing: 3px;
    padding: 40px 0 40px 0;
  }
}

footer {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
  margin-bottom: 40px;
  background: white;
}

@media screen and (max-width: 860px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

footer form div {
  width: 80%;
}

footer form input {
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border-color: rgba(214, 207, 207, 0.651);
}

footer form textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 20px auto;
  border-color: rgba(214, 207, 207, 0.651);
}

footer form button {
  margin: 20px 0;
  width: 160px;
  border: 2px solid black;
}

footer .social {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  border-left: 1px solid rgba(214, 207, 207, 0.651);
  height: 100%;
}

footer .social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(214, 207, 207, 0.651);
}

footer .social div h4 {
  padding: 0 60px;
}

footer .social div p {
  color: #5a5a5a;
}

footer .social .address p {
  margin-top: 18px;
}

footer .social .mail p {
  font-family: "font-1", sans-serif;
  -webkit-text-decoration: underline rgba(214, 207, 207, 0.651);
          text-decoration: underline rgba(214, 207, 207, 0.651);
  text-underline-position: under;
}

footer .social .phone p {
  -webkit-text-decoration: underline rgba(214, 207, 207, 0.651);
          text-decoration: underline rgba(214, 207, 207, 0.651);
  text-underline-position: under;
}

footer .social .soc-logo {
  border-bottom: none;
}

footer .social .soc-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .social .soc-logo ul li {
  padding: 0 5px;
}

footer .social .soc-logo ul li img {
  border: 1px solid;
  border-color: rgba(214, 207, 207, 0.651);
  width: 40px;
  border-radius: 150px;
}
/*# sourceMappingURL=style.css.map */